* {
    margin: 0;
    padding: 0;
}

.event_details_container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event_details_content h2 {
    padding: 10px 0px;
    text-align: left;
    text-decoration: underline;
}

.event_details_content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    background-color: var(--transparent);
    color: var(--accent);
    position: absolute;
    padding: 20px;
    backdrop-filter: blur(10px);
    border: 2px solid var(--transparent);
    border-radius: 16px;
    text-align: center;
}

.event_component_container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.event_component_container>div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
    align-items: flex-start;
    text-transform: capitalize;
}

.event_component_container>div:nth-child(1)>span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.event_component_container>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start
}

.availability {
    display: flex;
}

.fields {
    width: 60px;
    display: inline-block;
    text-align: left;    
    align-items: center;
    color: var(--text-color1);
}

.value {
    color: var(--text-color2);
}

.date_and_time {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.participant {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.participant>span {
    background-color: var(--transparent);
    backdrop-filter: blur(20px);
    border: 2px solid var(--transparent);
    border-radius: 5px;
    padding: 8px 10px;
    color: var(--text-color2);
}


.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    background: var(--color1);
    border-radius: 50%;
    z-index: -1;
    width: 100px;
    height: 100px;
    transform: translate(-250px, -200px);
}

.circle_1 {
    position: absolute;
    top: 50%;
    left: 50%;
    background: var(--color1);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    transform: translate(100px, 50px);
    z-index: -1;
}

.circle_2 {
    position: absolute;
    top: 50%;
    left: 50%;
    background: var(--color1);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transform: translate(-250px, 50px);
    z-index: -1;
}