* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.event_component_container {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    border-radius: 5px;
    background-color: var(--transparent);
    backdrop-filter: blur(20px);
    border: 2px solid var(--transparent);
}

.event_component_container>div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.event_component_container>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.availability {
    display: flex;
}

.fields {
    width: 80px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    color: var(--text-color1);
}

.value {
    color: var(--text-color2);
}

.date_and_time {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

  